body {
    margin: 0;
    background-image: url('https://source.unsplash.com/1600x900/?background');
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    padding: 10px;
    /*max-width: calc(250px * 6);*/
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 100%;
}

.remove-card {
    border-radius: 4px;
    padding: 1px 10px;
    background: rgba(241, 241, 241, 0.1);
    border: 2px solid rgba(82, 106, 122, 0.4);
    color: rgba(82, 106, 122, 0.4);
    font-weight: 900;
    font-size: 14px;
    transition: all 0.2s ease;
}

.remove-card:hover {
    cursor: pointer;
    background: rgba(82, 106, 122, 0.1);
}

.columns {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column, .adder, .deleter {
    margin: 10px;
    width: 240px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.deleter {
    background-color: rgba(231, 28, 28, 0.7);
    padding: 0;
    transition: all 0.2s ease;
}

.deleter:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column {
    background: #f1f1f1;
    padding: 10px 15px;
}

.adder {
    background: rgba(241, 241, 241, 0.5);
    padding: 0;
    transition: all 0.2s ease;
}

.adder:hover {
    background-color: rgba(227, 242, 253, 0.7);
}

.adder span, .deleter span {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: rgb(82, 82, 82);
    margin: 0;
    padding: 15px 20px;
}

.deleter span {
    color: #fff;
}

.column-header {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: rgb(82, 106, 122);
    margin: 0;
}

.column-footer span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(82, 82, 82);
    margin: 0;
}

.note {
    cursor: default;
    width: 100%;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 1px 0 0 #c9cfd4;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: rgb(82, 106, 122);
    transition: background-color 0.2s linear;
}

.note:hover {
    background-color: #e3f2fd;
    cursor: pointer;
}

.note:focus {
    cursor: auto;
}

.note textarea {
    margin: 0;
}

.note.dragged {
    opacity: 0.01;
}

.column.dragged {
    opacity: 0.4;
}

.action {
    cursor: pointer;
}

.column.under {
    margin-top: 20px;
}

.note.under {
    opacity: 0.5;
}
